<!DOCTYPE html>
<html>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">

  <script src="assets/global/jquery-3.1.0.min.js"></script>
  
  {% include head.html %}
  
  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
	{% include google_analytics.html %}
	{% include log_name_in_console.html %}

  </body>
  
  <script>
    $('[data-format-number]').each(function(idx, el) { 
        var $el = $(el); 
        var numWords = Number($el.text()); 
        $el.text(numWords.toLocaleString()); 
    }); 
  </script>

</html>
